#container{
    height: 102%;
    width: 102%;
    background-color: crimson;
    position: fixed;
    padding: 0px 0px;
    margin: -10px -10px;
}

#frameButton1{
    background-color: #000000;
    width: 100px;
    height: 100%;

    display: block;
    position: absolute;
    transform: skewX(-5deg);
    z-index: 1;

}
