#container{
    height: 102%;
    width: 102%;
    background-color: #333333;
    position: fixed;
    padding: 0px 0px;
    margin: -10px -10px;
}

.frameButton{
    width: 150px;
    height: 80%;

    position:absolute;
    left:0; right:0;
    top:0; bottom:0;
    margin:auto;

    display: block;
    transform: skewX(-5deg);
    z-index: 1;
}

#frameButton1{
    background-color: #000000;
    margin-left: 30%;
}

#frameButton2{
    background-color: #000000;
    margin-left: 45%;
}

#frameButton3{
    background-color: #000000;
    margin-left: 60%;
}

#kanjiCharacters{
    width: 100px;
    height: 100px;
    margin-left: 10%;
    background-color: #000000;
    display: block;
    position: absolute;
}

#portrait{
    width: 100px;
    height: 100px;
    margin-left: 85%;
    background-color: #000000;
    display: block;
    position: absolute;
}
